*{
	box-sizing:border-box;
}

body{
	font-family:fantasy;
    background-image:  linear-gradient(brown, tan, beige);
}



    
[class*="col-"]{
	float:left;
	width:100%;
}


.mobile-invis{
	display:none;
}

img{
	max-width:100%;
}

.choco-div{
	width: 500px;
    height: 400px;
}


.fa:hover {
    opacity: 0.7;
}

.contact-facebook {
  background: #3B5998;
  width: 60px;
  color: white;
}

.contact-twitter {
  background: #55ACEE;
  width: 60px;
  color: white;
}

.contact-youtube {
  background: #bb0000;
  width: 60px;
  color: white;
}

.contact-instagram {
  background: #FFC0CB;
  width: 60px;
  color: white;
}


* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.clear-floating{clear:both;}

@media only screen and (min-width:600px){
	.col-1-t{width:8.33%}
	.col-2-t{width:16.66%}
	.col-3-t{width:25%}
	.col-4-t{width:33.33%}
	.col-5-t{width:41.66%}
	.col-6-t{width:50%}
	.col-7-t{width:58.33%}
	.col-8-t{width:66.66%}
	.col-9-t{width:75%}
	.col-10-t{width:83.33%}
	.col-11-t{width:91.66%}
	.col-12-t{width:100%}
	.mobile-invis{
	display:block;
	}
}

@media only screen and (min-width:900px){
	.col-1-d{width:8.33%}
	.col-2-d{width:16.66%}
	.col-3-d{width:25%}
	.col-4-d{width:33.33%}
	.col-5-d{width:41.66%}
	.col-6-d{width:50%}
	.col-7-d{width:58.33%}
	.col-8-d{width:66.66%}
	.col-9-d{width:75%}
	.col-10-d{width:83.33%}
	.col-11-d{width:91.66%}
	.col-12-d{width:100%}
	.mobile-invis{
	display:block;
	}
}

